In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("../data/classification_test.csv")

In [12]:
df = df[["close", "target"]][:100]

In [13]:
df

      close  target
0   4094.62       0
1   4093.00       0
2   4117.41       0
3   4115.41       0
4   4155.87       0
..      ...     ...
95  4131.92       0
96  4113.58       0
97  4113.98       0
98  4132.09       0
99  4133.42       0

[100 rows x 2 columns]

In [14]:
X = df.drop(["target"], axis=1)
y = df["target"]

In [17]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64